{% extends 'base.html.twig' %}

{% block title %}{% trans %}Visitor index{% endtrans %}{% endblock %}

{% block body %}
    <ol class="breadcrumb">
	<li class="breadcrumb-item"><a href="https://www.gob.mx"><i class="icon icon-home"></i></a></li>
	<li class="breadcrumb-item"><a href="{{ path('app_index') }}">{% trans %}Begin{% endtrans %}</a></li>
	<li class="breadcrumb-item active" aria-current="page"><a href="{{ path('app_visitor_index') }}">{% trans %}Visitor{% endtrans %}</a></li>
    </ol>

    <h1>{% trans %}Visitor index{% endtrans %}</h1>
    <hr class="red">

    <div class="row">
	<div class="col-12 col-md-6 count d-flex justify-content-start">
	    <form class="w-100" method="get" action="{{ path('app_visitor_index') }}">
		<div class="input-group mb-3">
		    <input type="text" name="filter" class="form-control input-sm w-75" placeholder="{% trans %}Search by Name or Tag{% endtrans %}" value="{{ app.request.query.get('filter') }}">
		    <button class="btn btn-sm btn-info" type="submit">
			<span class="icon-search" aria-hidden="true"></span>
		    </button>
		</div>
	    </form>
	</div>

	<div class="col-12 col-md-6 d-flex justify-content-md-end justify-content-start mt-2 mt-md-0">
	    Registros totales: {{ visitors.getTotalItemCount }}
	</div>
    </div>

    <div class="table-responsive">
	<table class="table table-hover">
            <thead>
		<tr>
		    {% if is_granted('ROLE_SUPER_ADMIN') %}
			<th scope="col">{{ knp_pagination_sortable(visitors, 'Id'|trans, 'v.id') }}</th>
		    {% endif %}
                    <th scope="col">{{ knp_pagination_sortable(visitors, 'Name'|trans, 'v.name') }}</th>
                    <th scope="col">{{ knp_pagination_sortable(visitors, 'Tag'|trans, 'v.tag') }}</th>
                    <th scope="col">{{ knp_pagination_sortable(visitors, 'Destination'|trans, 'v.destination') }}</th>
                    <th scope="col">{{ knp_pagination_sortable(visitors, 'Check in'|trans, 'v.checkInAt') }}</th>
                    <th scope="col">{{ knp_pagination_sortable(visitors, 'Check out'|trans, 'v.checkOutAt') }}</th>
                    <th>{% trans %}Patients{% endtrans %}</th>
                    <th>{% trans %}actions{% endtrans %}</th>
		</tr>
            </thead>
            <tbody>
		{% for visitor in visitors %}
		    <tr>
			{% if is_granted('ROLE_SUPER_ADMIN') %}
			    <td>{{ visitor.id }}</td>
			{% endif %}
			<td>{{ visitor.name|title }}</td>
			<td>{{ visitor.tag }}</td>
			<td>{{ visitor.destination }}</td>
			<td>{{ visitor.checkInAt ? visitor.checkInAt|date('Y-m-d H:i:s') : '' }}</td>
			<td>
			    {% if visitor.CheckOutAt %}
				{{ visitor.CheckOutAt|date('Y-m-d H:i:s') }}
			    {% else %}
				<form method="post" action="{{ path('app_visitor_check_out', {'id': visitor.uuid, 'redirect_route': 'app_visitor_index'}) }}" onsubmit="return confirm('{% trans %}Are you sure you want to check out?{% endtrans %}');">
				    <input type="hidden" name="_token" value="{{ csrf_token('checkout' ~ visitor.id) }}">
				    <button class="btn btn-sm btn-danger">{% trans %}Check out{% endtrans %}</button>
				</form>
			    {% endif %}
			</td>
			<td>{{ visitor.patient|map(p => p.name)|join(', ') }}</td>
			<td>
			    <a class="btn btn-link" href="{{ path('app_visitor_show', {'id': visitor.uuid}) }}">{% trans %}Show{% endtrans %}</a>
			    {% if is_granted('ROLE_SUPER_ADMIN') %}
				<a class="btn btn-secondary" href="{{ path('app_visitor_edit', {'id': visitor.uuid}) }}">{% trans %}Edit{% endtrans %}</a>
			    {% endif %}
			</td>
		    </tr>
        {% else %}
		    <tr>
			<td colspan="11">{% trans %}no records found{% endtrans %}</td>
		    </tr>
		{% endfor %}
            </tbody>
	</table>
    </div>

    <div class="navigation">
        {{ knp_pagination_render(visitors) }}
    </div>

    <a class="btn btn-primary" href="{{ path('app_visitor_new') }}">{% trans %}Create new{% endtrans %}</a>
{% endblock %}
