{% extends 'base.html.twig' %}

{% block title %}{% trans %}Visitor index{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Visitor index{% endtrans %}</h1>

    <div class="table-responsible">
	<table class="table table-hover">
            <thead>
		<tr>
                    <th>{% trans %}Id{% endtrans %}</th>
                    <th>{% trans %}Name{% endtrans %}</th>
                    <th>{% trans %}Phone{% endtrans %}</th>
                    <th>{% trans %}DNI{% endtrans %}</th>
                    <th>{% trans %}Tag{% endtrans %}</th>
                    <th>{% trans %}Destination{% endtrans %}</th>
                    <th>{% trans %}Check in{% endtrans %}</th>
                    <th>{% trans %}Check out{% endtrans %}</th>
                    <th>{% trans %}Relationship{% endtrans %}</th>
                    <th>{% trans %}Patients{% endtrans %}</th>
                    <th>{% trans %}actions{% endtrans %}</th>
		</tr>
            </thead>
            <tbody>
		{% for visitor in visitors %}
		    <tr>
			<td>{{ visitor.id }}</td>
			<td>{{ visitor.name }}</td>
			<td>{{ visitor.phone }}</td>
			<td>{{ visitor.dni }}</td>
			<td>{{ visitor.tag }}</td>
			<td>{{ visitor.destination }}</td>
			<td>{{ visitor.checkInAt ? visitor.checkInAt|date('Y-m-d H:i:s') : '' }}</td>
			<td>
			    {% if visitor.CheckOutAt %}
				{{ visitor.CheckOutAt|date('Y-m-d H:i:s') }}
			    {% else %}
				<form method="post" action="{{ path('app_visitor_check_out', {'id': visitor.id}) }}" onsubmit="return confirm('{% trans %}Are you sure you want to check out?{% endtrans %}');">
				    <input type="hidden" name="_token" value="{{ csrf_token('checkout' ~ visitor.id) }}">
				    <button class="btn btn-sm btn-danger">{% trans %}Check out{% endtrans %}</button>
				</form>
			    {% endif %}
			</td>
			<td>{{ visitor.relationship }}</td>
			<td>{{ visitor.patient|map(p => p.name)|join(', ') }}</td>
			<td>
			    <a class="btn btn-link" href="{{ path('app_visitor_show', {'id': visitor.id}) }}">{% trans %}Show{% endtrans %}</a>
			    <a class="btn btn-secondary" href="{{ path('app_visitor_edit', {'id': visitor.id}) }}">{% trans %}Edit{% endtrans %}</a>
			</td>
		    </tr>
        {% else %}
		    <tr>
			<td colspan="11">{% trans %}no records found{% endtrans %}</td>
		    </tr>
		{% endfor %}
            </tbody>
	</table>
    </div>

    {% if visitors.haveToPaginate == true %}
	<div class="navigation">
            {{ pagerfanta(visitors) }}
	</div>
    {% endif %}

    <a class="btn btn-primary" href="{{ path('app_visitor_new') }}">{% trans %}Create new{% endtrans %}</a>
{% endblock %}
