{% extends 'base.html.twig' %}

{% block title %}{% trans %}New Visitor{% endtrans %}{% endblock %}

{% block body %}
    <ol class="breadcrumb">
	<li class="breadcrumb-item"><a href="https://www.gob.mx"><i class="icon icon-home"></i></a></li>
	<li class="breadcrumb-item"><a href="{{ path('app_index') }}">{% trans %}Begin{% endtrans %}</a></li>
	<li class="breadcrumb-item"><a href="{{ path('app_visitor_index') }}">{% trans %}Visitor{% endtrans %}</a></li>
	<li class="breadcrumb-item active" aria-current="page"><a href="{{ path('app_visitor_new') }}">{% trans %}New Visitor{% endtrans %}</a></li>
    </ol>

    <h1>{% trans %}Create new Visitor{% endtrans %}</h1>
    <hr class="red">

    <div class="row" {{ stimulus_controller('webrtc') }} data-webrtc-logo-url="{{ asset('images/iner-logo.png') }}">
	<div class="col-md-6">
	    {{ form_start(form, {'attr': {'data-controller': 'visitor-form', 'data-webrtc-target': 'form', 'data-action': 'submit->webrtc#capture'}}) }}
		{{ form_widget(form.evidence, {'attr': {'data-webrtc-target': 'evidence'}}) }}
		<div class="form-group">
		    {{ form_label(form.name) }}:
		    <div class="row">
			<div class="col-md">
			    {{ form_widget(form.name) }}
			    <span class="text-danger">{{ form_errors(form.name) }}</span>
			</div>
		    </div>
		</div>
		<div class="form-group">
		    {{ form_label(form.phone) }}:
		    <div class="row">
			<div class="col-md">
			    {{ form_widget(form.phone) }}
			    <span class="text-danger">{{ form_errors(form.phone) }}</span>
			</div>
		    </div>
		</div>
		<div class="form-group">
		    {{ form_label(form.dni) }}:
		    <div class="row">
			<div class="col-md">
			    {{ form_widget(form.dni, {'attr': {'data-visitor-form-target': 'dniField', 'data-action': 'change->visitor-form#toggleDniOther'}}) }}
			    <span class="text-danger">{{ form_errors(form.dni) }}</span>
			</div>
		    </div>
		</div>
		<div class="form-group" data-visitor-form-target="dniOtherField">
		    {{ form_label(form.dni_other) }}:
		    <div class="row">
			<div class="col-md">
			    {{ form_widget(form.dni_other) }}
			    <span class="text-danger">{{ form_errors(form.dni_other) }}</span>
			</div>
		    </div>
		</div>
		<div class="form-group">
		    {{ form_label(form.tag) }}:
		    <div class="row">
			<div class="col-md">
			    {{ form_widget(form.tag) }}
			    <span class="text-danger">{{ form_errors(form.tag) }}</span>
			</div>
		    </div>
		</div>
		<div class="form-group">
		    {{ form_label(form.destination) }}:
		    <div class="row">
			<div class="col-md">
			    {{ form_widget(form.destination) }}
			    <span class="text-danger">{{ form_errors(form.destination) }}</span>
			</div>
		    </div>
		</div>
		<div class="form-group">
		    {{ form_label(form.patient) }}:
		    <div class="row">
			<div class="col-md">
			    {{ form_widget(form.patient) }}
			    <span class="text-danger">{{ form_errors(form.patient) }}</span>
			</div>
		    </div>
		</div>
		<div class="form-group">
		    {{ form_label(form.relationship) }}:
		    <div class="row">
			<div class="col-md">
			    {{ form_widget(form.relationship) }}
			    <span class="text-danger">{{ form_errors(form.relationship) }}</span>
			</div>
		    </div>
		</div>
		<div class="form-group">
		    {{ form_label(form.checkInAt) }}:
		    <div class="row">
			<div class="col-md">
			    {{ form_widget(form.checkInAt) }}
			    <span class="text-danger">{{ form_errors(form.checkInAt) }}</span>
			</div>
		    </div>
		</div>
		
		<div class="d-grid gap-2 d-md-block">
		    <button type="submit" value="Save" class="btn btn-primary">{% trans %}Save{% endtrans %}</button>
		    <button type="reset" value="Reset" class="btn btn-secondary">{% trans %}Reset{% endtrans %}</button>
		    <a class="btn btn-link" href="{{ path('app_visitor_index') }}" role="button">{% trans %}Back to list{% endtrans %}</a>
		</div>
	    {{ form_end(form) }}
	</div>
	<div class="col-md-6 d-flex align-items-center justify-content-center flex-column">
	    <video data-webrtc-target="video" width="480" height="360" class="border" poster="{{ asset('images/iner-logo.png') }}" autoplay></video>
            <div class="my-2">
                <select data-webrtc-target="cameraSelect" data-action="change->webrtc#switchCamera" class="form-select form-select-sm d-none d-inline-block w-auto"></select>
                <button type="button" data-webrtc-target="flipButton" data-action="click->webrtc#flipCamera" class="btn btn-sm btn-secondary d-none">{% trans %}Flip Camera{% endtrans %}</button>
            </div>
	    <canvas data-webrtc-target="canvas" class="d-none"></canvas>
	</div>
    </div>
{% endblock %}
