{% extends 'base.html.twig' %}

{% block title %}{% trans %}Patient index{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Patient index{% endtrans %}</h1>

    <div class="table-responsible">
	<table class="table table-hover">
            <thead>
		<tr>
                    <th>{% trans %}Id{% endtrans %}</th>
                    <th>{% trans %}File{% endtrans %}</th>
                    <th>{% trans %}Name{% endtrans %}</th>
                    <th>{% trans %}Disability{% endtrans %}</th>
                    <th>{% trans %}Check in{% endtrans %}</th>
                    <th>{% trans %}Check out{% endtrans %}</th>
                    <th>{% trans %}actions{% endtrans %}</th>
		</tr>
            </thead>
            <tbody>
		{% for patient in patients %}
		    {% set todays_attendance = patient.attendances|filter(a => a.checkInAt|date('Y-m-d') == "now"|date('Y-m-d'))|first %}
		    <tr>
			<td>{{ patient.id }}</td>
			<td>{{ patient.file }}</td>
			<td>{{ patient.name }}</td>
			<td>{{ patient.disability ? 'Yes' : 'No' }}</td>
			<td>
			    {% if todays_attendance %}
				{{ todays_attendance.checkInAt|date('H:i:s') }}
			    {% else %}
				<form method="post" action="{{ path('app_patient_check_in', {'id': patient.id}) }}" style="display: inline-block;" onsubmit="return confirm('{% trans %}Are you sure you want to check in?{% endtrans %}');">
				    <div class="input-group mb-3">
					<input type="text" name="tag" placeholder="Tag" required style="width: 80px; height: 34px" class="form-control form-control-sm"/>
					<button type="submit" class="btn btn-sm btn-success">{% trans %}Check in{% endtrans %}</button>
				    </div>				    
				</form>
			    {% endif %}
			</td>
			<td>
			    {% if todays_attendance and todays_attendance.checkOutAt %}
				{{ todays_attendance.checkOutAt|date('H:i:s') }}
			    {% elseif todays_attendance %}
				<form method="post" action="{{ path('app_patient_check_out', {'id': patient.id}) }}" style="display: inline-block;" onsubmit="return confirm('{% trans %}Are you sure you want to check out?{% endtrans %}');">
				    <button type="submit" class="btn btn-sm btn-danger">{% trans %}Check out{% endtrans %}</button>
				</form>
			    {% else %}
				<button type="button" class="btn btn-sm btn-secondary" disabled>{% trans %}Check out{% endtrans %}</button>
			    {% endif %}
			</td>
			<td>
			    <a class="btn btn-link" href="{{ path('app_patient_show', {'id': patient.id}) }}">{% trans %}Show{% endtrans %}</a>
			    <a class="btn btn-secondary" href="{{ path('app_patient_edit', {'id': patient.id}) }}">{% trans %}Edit{% endtrans %}</a>
			</td>
		    </tr>
        {% else %}
		    <tr>
			<td colspan="7">{% trans %}no records found{% endtrans %}</td>
		    </tr>
		{% endfor %}
            </tbody>
	</table>
    </div>

    {% if patients.haveToPaginate == true %}
	<div class="navigation">
            {{ pagerfanta(patients, { prev_message: '<', next_message: '>'}) }}
	</div>
    {% endif %}
    
    {% if is_granted('ROLE_ADMIN') %}
	<a  class="btn btn-primary" href="{{ path('app_patient_new') }}">{% trans %}Create new{% endtrans %}</a>
    {% endif %}
{% endblock %}
