{% extends 'base.html.twig' %}

{% block title %}New Patient{% endblock %}

{% block body %}
    <h1>Create new Patient</h1>

    <div class="row">
	{{ form_start(form) }}
	    <div class="form-group">
		{{ form_label(form.file) }}:
		<div class="row">
		    <div class="col-md-6">
			{{ form_widget(form.file) }}
			<span class="text-danger">{{ form_errors(form.file) }}</span>
		    </div>
		</div>
	    </div>
	    <div class="form-group">
		{{ form_label(form.name) }}:
		<div class="row">
		    <div class="col-md-6">
			{{ form_widget(form.name) }}
			<span class="text-danger">{{ form_errors(form.name) }}</span>
		    </div>
		</div>
	    </div>

	    {{ form_widget(form.disability) }}
	    
	    <div class="d-grid gap-2 d-md-block">
		<button type="submit" value="Save" class="btn btn-primary">Save</button>
		<button type="reset" value="Reset" class="btn btn-secondary">Reset</button>
		<a class="btn btn-link" href="{{ path('app_patient_index') }}" role="button">Back to list</a>
	    </div>
	{{ form_end(form) }}
    </div>


{% endblock %}
