{% extends 'base.html.twig' %}

{% block title %}{% trans %}Patient{% endtrans %}{% endblock %}

{% block body %}
    <ol class="breadcrumb">
	<li class="breadcrumb-item"><a href="https://www.gob.mx"><i class="icon icon-home"></i></a></li>
	<li class="breadcrumb-item"><a href="{{ path('app_index') }}">{% trans %}Begin{% endtrans %}</a></li>
	<li class="breadcrumb-item"><a href="{{ path('app_patient_index') }}">{% trans %}Patient{% endtrans %}</a></li>
	<li class="breadcrumb-item active" aria-current="page"><a href="{{ path('app_patient_show', {'id': patient.id}) }}">{% trans %}Show{% endtrans %}</a></li>
    </ol>

    <h1>{% trans %}Patient{% endtrans %}</h1>
    <hr class="red">

    <div class="table-responsive">
	<table class="table table-striped">
            <tbody>
		{% if is_granted('ROLE_SUPER_ADMIN') %}
		    <tr>
			<th>{% trans %}Id{% endtrans %}</th>
			<td>{{ patient.id }}</td>
		    </tr>
		{% endif %}
		<tr>
                    <th>{% trans %}File{% endtrans %}</th>
                    <td>{{ patient.file }}</td>
		</tr>
		<tr>
                    <th>{% trans %}Name{% endtrans %}</th>
                    <td>{{ patient.name|title }}</td>
		</tr>
		<tr>
                    <th>{% trans %}Disability{% endtrans %}</th>
                    <td>{{ patient.disability ? 'Yes'|trans : 'No'|trans }}</td>
		</tr>
		{% if patient.hospitalized is not empty %}
		    <tr>
			<th>{% trans %}Service{% endtrans %}</th>
			<td>{{ patient.hospitalized.service }}</td>
		    </tr>
		    <tr>
			<th>{% trans %}Bed{% endtrans %}</th>
			<td>{{ patient.hospitalized.bed }}</td>
		    </tr>
		{% endif %}
            </tbody>
	</table>
    </div>

    <h2>{% trans %}Today's Appointments{% endtrans %}</h2>
    <hr class="red">
    {% if todays_appointments.nbResults > 0 %}
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>{% trans %}Agenda{% endtrans %}</th>
                        <th>{% trans %}Specialty{% endtrans %}</th>
                        <th>{% trans %}Location{% endtrans %}</th>
                        <th>{% trans %}Type{% endtrans %}</th>
                        <th>{% trans %}Status{% endtrans %}</th>
                        <th>{% trans %}Date{% endtrans %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for appointment in todays_appointments %}
                        <tr>
                            <td>{{ appointment.agenda }}</td>
                            <td>{{ appointment.specialty }}</td>
                            <td>{{ appointment.location }}</td>
                            <td>{{ appointment.type }}</td>
                            <td>{{ appointment.status }}</td>
                            <td>{{ appointment.dateAt ? appointment.dateAt|date('Y-m-d H:i:s') : '' }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
	{% if todays_appointments.nbResults > 20 %}
            <div class="navigation">
		{{ pagerfanta(todays_appointments, 'twitter_bootstrap5', {'pageParameter': 'page_today_appointments', prev_message: '<', next_message: '>'}) }}
            </div>
	{% endif %}
    {% else %}
        <p>{% trans %}No appointments for today.{% endtrans %}</p>
    {% endif %}
    
    <h2>{% trans %}Today's Attendance{% endtrans %}</h2>
    <hr class="red">
    {% if todays_attendance %}
        <div class="row">
            <div class="col-md d-flex align-items-center">
                <div class="table-responsive d-flex">
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <th>{% trans %}Tag{% endtrans %}</th>
                                <td>{{ todays_attendance.tag }}</td>
                            </tr>
                            <tr>
                                <th>{% trans %}Check in{% endtrans %}</th>
                                <td>{{ todays_attendance.checkInAt|date('Y-m-d H:i:s') }}</td>
                            </tr>
                            {% if todays_attendance.checkOutAt %}
                                <tr>
                                    <th>{% trans %}Check out{% endtrans %}</th>
                                    <td>{{ todays_attendance.checkOutAt|date('Y-m-d H:i:s') }}</td>
                                </tr>
                            {% else %}
                                <tr>
                                    <th>{% trans %}Check out{% endtrans %}</th>
                                    <td>
                                        <form method="post" action="{{ path('app_patient_check_out', {'id': patient.id}) }}" class="d-inline-block" onsubmit="return confirm('{% trans %}Are you sure you want to check out?{% endtrans %}');">
                                            <input type="hidden" name="redirect_route" value="app_patient_show">
                                            <input type="hidden" name="redirect_params[id]" value="{{ patient.id }}">
                                            <button class="btn btn-sm btn-danger">{% trans %}Check out{% endtrans %}</button>
                                        </form>
                                    </td>
                                </tr>
                                <tr>
                                    <th>{% trans %}Is the patient accompanied?{% endtrans %}</th>
                                    <td>
                                        <a class="btn btn-sm btn-primary" href="{{ path('app_visitor_new', {'patientId': patient.id}) }}">{% trans %}Register visitor{% endtrans %}</a>
                                    </td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% if todays_attendance.evidence %}
                <div class="col-md-4 d-flex align-items-center justify-content-center">
                    <img class="border img-fluid w-100" src="{{ todays_attendance.evidence }}" alt="{{ todays_attendance.checkInAt|date('Y-m-d H:i:s') }}">
                </div>
		<hr>
            {% endif %}
        </div>
    {% endif %}

    {% if todays_attendance is null or todays_attendance.checkOutAt is not null %}
        <div class="row" {{ stimulus_controller('webrtc') }} data-webrtc-logo-url="{{ asset('images/iner-logo.png') }}">
            <div class="col-md d-flex align-items-center justify-content-center">
                <form method="post" action="{{ path('app_patient_check_in', {'id': patient.id}) }}" onsubmit="return confirm('{% trans %}Are you sure you want to check in?{% endtrans %}');" data-webrtc-target="form" data-action="submit->webrtc#capture">
                    <input type="hidden" name="redirect_route" value="app_patient_show">
                    <input type="hidden" name="redirect_params[id]" value="{{ patient.id }}">
                    <input type="hidden" name="evidence" data-webrtc-target="evidence">
                    <div class="input-group mb-3" >
                        <input type="text" name="tag" placeholder="{% trans %}Tag{% endtrans %}" required style="width: 82px; height:34px" class="form-control form-control-sm"/>
                        <button type="submit" class="btn btn-sm btn-primary">{% trans %}Check in{% endtrans %}</button>
                    </div>
                </form>
            </div>
            <div class="col-md-6 d-flex align-items-center justify-content-center flex-column">
                <video data-webrtc-target="video" class="border w-50" poster="{{ asset('images/iner-logo.png') }}" autoplay></video>
                <div class="my-2">
                    <select data-webrtc-target="cameraSelect" data-action="change->webrtc#switchCamera" class="form-select form-select-sm d-none d-inline-block w-auto"></select>
                    <button type="button" data-webrtc-target="flipButton" data-action="click->webrtc#flipCamera" class="btn btn-sm btn-secondary d-none">{% trans %}Flip Camera{% endtrans %}</button>
                </div>
                <canvas data-webrtc-target="canvas" class="d-none"></canvas>
            </div>
        </div>
    {% endif %}

    <h2>{% trans %}Other Appointments{% endtrans %}</h2>
    <hr class="red">
    {% if other_appointments.nbResults > 0 %}
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>{% trans %}Agenda{% endtrans %}</th>
                        <th>{% trans %}Specialty{% endtrans %}</th>
                        <th>{% trans %}Location{% endtrans %}</th>
                        <th>{% trans %}Type{% endtrans %}</th>
                        <th>{% trans %}Status{% endtrans %}</th>
                        <th>{% trans %}Date{% endtrans %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for appointment in other_appointments %}
                        <tr>
                            <td>{{ appointment.agenda }}</td>
                            <td>{{ appointment.specialty }}</td>
                            <td>{{ appointment.location }}</td>
                            <td>{{ appointment.type }}</td>
                            <td>{{ appointment.status }}</td>
                            <td>{{ appointment.dateAt ? appointment.dateAt|date('Y-m-d H:i:s') : '' }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
	{% if other_appointments.haveToPaginate == true %}
            <div class="navigation">
		{{ pagerfanta(other_appointments, 'twitter_bootstrap5', {'pageParameter': 'page_other_appointments', prev_message: '<', next_message: '>'}) }}
            </div>
	{% endif %}
    {% else %}
        <p>{% trans %}No other appointments.{% endtrans %}</p>
    {% endif %}

    <h2>{% trans %}Today's Visitors{% endtrans %}</h2>
    <hr class="red">
    {% if todays_visitors.nbResults > 0 %}
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>{% trans %}Name{% endtrans %}</th>
                        <th>{% trans %}DNI{% endtrans %}</th>
                        <th>{% trans %}Check in{% endtrans %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for visitor in todays_visitors %}
                        <tr>
                            <td>{{ visitor.name }}</td>
                            <td>{{ visitor.dni }}</td>
                            <td>{{ visitor.checkInAt ? visitor.checkInAt|date('Y-m-d H:i:s') : '' }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
	{% if todays_visitors.haveToPaginate == true %}
            <div class="navigation">
		{{ pagerfanta(todays_visitors, 'twitter_bootstrap5', {'pageParameter': 'page_today_visitors', prev_message: '<', next_message: '>'}) }}
            </div>
	{% endif %}
    {% else %}
        <p>{% trans %}No visitors for today.{% endtrans %}</p>
    {% endif %}

    <div class="d-grid gap-2 d-md-block">
	{% if is_granted('ROLE_SUPER_ADMIN') %}
	    <a class="btn btn-primary" href="{{ path('app_patient_edit', {'id': patient.id}) }}">{% trans %}Edit{% endtrans %}</a>
	{% endif %}
	<a class="btn btn-link" href="{{ path('app_patient_index') }}">{% trans %}Back to list{% endtrans %}</a>
    </div>

    {% if is_granted('ROLE_SUPER_ADMIN') %}
	<div class="row">
	    <div class="col-md-10"></div>
	    <div class="col-md-1">
		{{ include('patient/_delete_form.html.twig') }}
	    </div>
	</div>
    {% endif %}
{% endblock %}
