{% extends 'base.html.twig' %}

{% block title %}Patient{% endblock %}

{% block body %}
    <h1>Patient</h1>

    <div class="table-responsible">
	<table class="table table-striped">
            <tbody>
		<tr>
                    <th>Id</th>
                    <td>{{ patient.id }}</td>
		</tr>
		<tr>
                    <th>File</th>
                    <td>{{ patient.file }}</td>
		</tr>
		<tr>
                    <th>Name</th>
                    <td>{{ patient.name }}</td>
		</tr>
		<tr>
                    <th>Disability</th>
                    <td>{{ patient.disability ? 'Yes' : 'No' }}</td>
		</tr>
            </tbody>
	</table>
    </div>

    <hr>

    <h2>Today's Attendance</h2>
    {% set todays_attendance = patient.attendances|filter(a => a.checkInAt|date('Y-m-d') == "now"|date('Y-m-d'))|first %}
    {% if todays_attendance %}
        <div class="table-responsible">
	    <table class="table table-striped">
		<tbody>
		    <tr>
			<th>Tag</th>
			<td>{{ todays_attendance.tag }}</td>
		    </tr>
                    <tr>
			<th>Check-in</th>
			<td>{{ todays_attendance.checkInAt|date('Y-m-d H:i:s') }}</td>
                    </tr>
                    <tr>
			<th>Check-out</th>
			<td>
                            {% if todays_attendance.checkOutAt %}
				{{ todays_attendance.checkOutAt|date('Y-m-d H:i:s') }}
                            {% else %}
				<form method="post" action="{{ path('app_patient_check_out_show', {'id': patient.id}) }}" onsubmit="return confirm('Are you sure you want to check out?');" style="display: inline-block;">
                                    <button class="btn btn-sm btn-secondary">Check out</button>
				</form>
                            {% endif %}
			</td>
                    </tr>
		</tbody>
            </table>
	</div>
    {% else %}
        <form method="post" action="{{ path('app_patient_check_in_show', {'id': patient.id}) }}" onsubmit="return confirm('Are you sure you want to check in?');" style="display: inline-block;">
	    <div class="input-group mb-3" >
		<input type="text" name="tag" placeholder="Tag" required style="width: 80px; height:34px" class="form-control form-control-sm"/>
		<button type="submit" class="btn btn-sm btn-primary">Check in</button>
	    </div>
        </form>
    {% endif %}
    
    <hr>

    <h2>Today's Appointments</h2>
    {% if todays_appointments.nbResults > 0 %}
        <div class="table-responsible">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Place</th>
                        <th>Type</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for appointment in todays_appointments %}
                        <tr>
                            <td>{{ appointment.place }}</td>
                            <td>{{ appointment.type }}</td>
                            <td>{{ appointment.dateAt ? appointment.dateAt|date('Y-m-d H:i:s') : '' }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
	{% if todays_appointments.nbResults > 20 %}
            <div class="navigation">
		{{ pagerfanta(todays_appointments, 'twitter_bootstrap5', {'pageParameter': 'page_today_appointments'}) }}
            </div>
	{% endif %}
    {% else %}
        <p>No appointments for today.</p>
    {% endif %}

    <h2>Other Appointments</h2>
    {% if other_appointments.nbResults > 0 %}
        <div class="table-responsible">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Place</th>
                        <th>Type</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for appointment in other_appointments %}
                        <tr>
                            <td>{{ appointment.place }}</td>
                            <td>{{ appointment.type }}</td>
                            <td>{{ appointment.dateAt ? appointment.dateAt|date('Y-m-d H:i:s') : '' }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
	{% if other_appointments.haveToPaginate == true %}
            <div class="navigation">
		{{ pagerfanta(other_appointments, 'twitter_bootstrap5', {'pageParameter': 'page_other_appointments'}) }}
            </div>
	{% endif %}
    {% else %}
        <p>No other appointments.</p>
    {% endif %}
    
    <hr>

    <h2>Today's Visitors</h2>
    {% if todays_visitors.nbResults > 0 %}
        <div class="table-responsible">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>DNI</th>
                        <th>Check-in</th>
                    </tr>
                </thead>
                <tbody>
                    {% for visitor in todays_visitors %}
                        <tr>
                            <td>{{ visitor.name }}</td>
                            <td>{{ visitor.dni }}</td>
                            <td>{{ visitor.checkInAt ? visitor.checkInAt|date('Y-m-d H:i:s') : '' }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
	{% if todays_visitors.haveToPaginate == true %}
            <div class="navigation">
		{{ pagerfanta(todays_visitors, 'twitter_bootstrap5', {'pageParameter': 'page_today_visitors'}) }}
            </div>
	{% endif %}
    {% else %}
        <p>No visitors for today.</p>
    {% endif %}

    <div class="d-grid gap-2 d-md-block">
	<a class="btn btn-primary" href="{{ path('app_patient_edit', {'id': patient.id}) }}">Edit</a>
	<a class="btn btn-link" href="{{ path('app_patient_index') }}">Back to list</a>
    </div>

    <div class="row">
	<div class="col-md-10"></div>
	<div class="col-md-1">
	    {{ include('patient/_delete_form.html.twig') }}
	</div>
    </div>
{% endblock %}
