{% extends 'base.html.twig' %}

{% block title %}{% trans %}Hospitalized index{% endtrans %}{% endblock %}

{% block body %}
    <ol class="breadcrumb">
	<li class="breadcrumb-item"><a href="www.gob.mx"><i class="icon icon-home"></i></a></li>
	<li class="breadcrumb-item"><a href="{{ path('app_index') }}">{% trans %}Begin{% endtrans %}</a></li>
	<li class="breadcrumb-item active" aria-current="page"><a href="{{ path('app_hospitalized_index') }}">{% trans %}Hospitalized{% endtrans %}</a></li>
    </ol>

    <h1>{% trans %}Hospitalized index{% endtrans %}</h1>
    <hr class="red">
    
    <table class="table">
        <thead>
            <tr>
		{% if is_granted('ROLE_SUPER_ADMIN') %}
                    <th>{% trans %}Id{% endtrans %}</th>
		{% endif %}
		<th>{% trans %}File{% endtrans %}</th>
		<th>{% trans %}Patient{% endtrans %}</th>
                <th>{% trans %}Service{% endtrans %}</th>
                <th>{% trans %}Bed{% endtrans %}</th>
                <th>{% trans %}actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for hospitalized in hospitalizeds %}
            <tr>
		{%if is_granted('ROLE_SUPER_ADMIN') %}
                    <td>{{ hospitalized.id }}</td>
		{% endif %}
                <td>{{ hospitalized.patient.file }}</td>
                <td>{{ hospitalized.patient.name|title }}</td>
                <td>{{ hospitalized.service }}</td>
                <td>{{ hospitalized.bed }}</td>
                <td>
                    <a class="btn btn-link" href="{{ path('app_hospitalized_show', {'id': hospitalized.id}) }}">{% trans %}Show{% endtrans %}</a>
		    {% if is_granted('ROLE_SUPER_ADMIN') %}
			<a class="btn btn-secondary" href="{{ path('app_hospitalized_edit', {'id': hospitalized.id}) }}">{% trans %}Edit{% endtrans %}</a>
		    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">{% trans %}no records found{% endtrans %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_SUPER_ADMIN') %}
	<a class="btn btn-primary" href="{{ path('app_hospitalized_new') }}">{% trans %}Create new{% endtrans %}</a>
    {% endif %}
{% endblock %}
