{% extends 'base.html.twig' %}

{% block title %}{% trans %}New Hospitalized{% endtrans%}{% endblock %}

{% block body %}
    <ol class="breadcrumb">
	<li class="breadcrumb-item"><a href="https://www.gob.mx"><i class="icon icon-home"></i></a></li>
	<li class="breadcrumb-item"><a href="{{ path('app_index') }}">{% trans %}Begin{% endtrans %}</a></li>
	<li class="breadcrumb-item"><a href="{{ path('app_hospitalized_index') }}">{% trans %}Patient{% endtrans %}</a></li>
	<li class="breadcrumb-item active" aria-current="page"><a href="{{ path('app_hospitalized_new') }}">{% trans %}New Hospitalized{% endtrans %}</a></li>
    </ol>

    <h1>{% trans %}Create new Hospitalized{% endtrans %}</h1>
    <hr class="red">

    <div class="row">
	{{ form_start(form) }}
	    <div class="form-group">
		{{ form_label(form.patient) }}:
		<div class="row">
		    <div class="col-md-6">
			{{ form_widget(form.patient) }}
			<span class="text-danger">{{ form_errors(form.patient) }}</span>
		    </div>
		</div>
	    </div>
	    <div class="form-group">
		{{ form_label(form.service) }}:
		<div class="row">
		    <div class="col-md-6">
			{{ form_widget(form.service) }}
			<span class="text-danger">{{ form_errors(form.service) }}</span>
		    </div>
		</div>
	    </div>
	    <div class="form-group">
		{{ form_label(form.bed) }}:
		<div class="row">
		    <div class="col-md-6">
			{{ form_widget(form.bed) }}
			<span class="text-danger">{{ form_errors(form.bed) }}</span>
		    </div>
		</div>
	    </div>
	    
	    <div class="d-grid gap-2 d-md-block">
		<button type="submit" value="Save" class="btn btn-primary">{% trans %}Save{% endtrans %}</button>
		<button type="reset" value="Reset" class="btn btn-secondary">{% trans %}Reset{% endtrans %}</button>
		<a class="btn btn-link" href="{{ path('app_patient_index') }}" role="button">{% trans %}Back to list{% endtrans %}</a>
	    </div>
	{{ form_end(form) }}
    </div>
{% endblock %}
