{% extends 'base.html.twig' %}

{% block title %}Hospitalized{% endblock %}

{% block body %}
    <ol class="breadcrumb">
	<li class="breadcrumb-item"><a href="https://www.gob.mx"><i class="icon icon-home"></i></a></li>
	<li class="breadcrumb-item"><a href="{{ path('app_index') }}">{% trans %}Begin{% endtrans %}</a></li>
	<li class="breadcrumb-item" aria-current="page"><a href="{{ path('app_hospitalized_index') }}">{% trans %}Hospitalized{% endtrans %}</a></li>
	<li class="breadcrumb-item active" aria-current="page"><a href="{{ path('app_hospitalized_show', {'id': hospitalized.uuid}) }}">{% trans %}Show{% endtrans %}</a></li>
    </ol>

    <h1>{% trans %}Hospitalized{% endtrans %}</h1>
    <hr class="red">

    <div class="table-responsive">
	<table class="table table-striped">
            <tbody>
		{% if is_granted('ROLE_SUPER_ADMIN') %}
		    <tr>
			<th>{% trans %}Id{% endtrans %}</th>
			<td>{{ hospitalized.id }}</td>
		    </tr>
		{% endif %}
		<tr>
                    <th>{% trans %}File{% endtrans %}</th>
                    <td><a class="link-underline-light" href="{{ path('app_patient_show', {'id': hospitalized.patient.uuid}) }}">{{ hospitalized.patient.file }}</td>
		</tr>
		<tr>
                    <th>{% trans %}Patient{% endtrans %}</th>
                    <td class="text-wrap">{{ hospitalized.patient.name|title }}</td>
		</tr>
		<tr>
                    <th>{% trans %}Service{% endtrans %}</th>
                    <td>{{ hospitalized.service }}</td>
		</tr>
		<tr>
                    <th>{% trans %}Bed{% endtrans %}</th>
                    <td>{{ hospitalized.bed }}</td>
		</tr>
            </tbody>
	</table>
    </div>

    <div class="d-grid gap-2 d-md-block">
	{% if is_granted('ROLE_SUPER_ADMIN') %}
	    <a class="btn btn-primary" href="{{ path('app_hospitalized_edit', {'id': hospitalized.uuid}) }}">{% trans %}Edit{% endtrans %}</a>
	{% endif %}
	<a class="btn btn-link" href="{{ path('app_hospitalized_index') }}">{% trans %}Back to list{% endtrans %}</a>
    </div>

    {% if is_granted('ROLE_SUPER_ADMIN') %}
	<div class="row">
	    <div class="col-md-10"></div>
	    <div class="col-md-1">
		{{ include('hospitalized/_delete_form.html.twig') }}
	    </div>
	</div>
    {% endif %}
{% endblock %}
