{% extends 'base.html.twig' %}

{% block body %}
    <ol class="breadcrumb">
	<li class="breadcrumb-item"><a href="https://www.gob.mx"><i class="icon icon-home"></i></a></li>
	<li class="breadcrumb-item"><a href="{{ path('app_index') }}">{% trans %}Begin{% endtrans %}</a></li>
	<li class="breadcrumb-item active" aria-current="page"><a href="{{ path('app_search_index') }}">{% trans %}Search{% endtrans %}</a></li>
    </ol>

    <h1>{% trans %}Search Options{% endtrans %}</h1>
    <hr class="red">

    <div>
	<p>
	    <ul class="nav nav-tabs" id="nav-tab" role="tablist">
		<li class="nav-link active" id="nav-tab-01" data-bs-toggle="tab" href="#nav-01" role="tab" aria-controls="nav-01" aria-selected="true">{% trans %}Search Patient by File{% endtrans %}</li>
		<li class="nav-link" id="nav-tab-02" data-bs-toggle="tab" href="#nav-02" role="tab" aria-controls="nav-02" aria-selected="false">{% trans %}Search by Name{% endtrans %}</li>
		<li class="nav-link" id="nav-tab-03" data-bs-toggle="tab" href="#nav-03" role="tab" aria-controls="nav-03" aria-selected="false">{% trans %}Search by Tag{% endtrans %}</li>
		<a class="nav-link" id="nav-tab-99" href="{{ path('app_search_check_list_index') }}">{% trans %}Check Out List{% endtrans %}</a>
	    </ul>
	</p>
	<div class="tab-content" id="nav-tabContent">
	    <div class="tab-pane fade show active" id="nav-01" role="tabpanel" aria-labelledby="nav-tab-01">
		{{ include('search/_form_file.html.twig') }}
	    </div>
	    <div class="tab-pane fade" id="nav-02" role="tabpanel" aria-labelledby="nav-tab-02">
		{{ include('search/_form_name.html.twig') }}
	    </div>
	    <div class="tab-pane fade" id="nav-03" role="tabpanel" aria-labelledby="nav-tab-03">
		{{ include('search/_form_tag.html.twig') }}
	    </div>
	</div>
    </div>
{% endblock %}
