{% extends 'base.html.twig' %}

{% block title %}{{ title|trans }}{% endblock %}

{% block body %}
    <ol class="breadcrumb">
	<li class="breadcrumb-item"><a href="www.gob.mx"><i class="icon icon-home"></i></a></li>
	<li class="breadcrumb-item"><a href="{{ path('app_index') }}">{% trans %}Begin{% endtrans %}</a></li>
	<li class="breadcrumb-item"><a href="{{ path('app_search_index') }}">{% trans %}Search{% endtrans %}</a></li>
	<li class="breadcrumb-item active" aria-current="page"><a href="{{ path(app.request.get('_route'),app.request.get('_route_params')) }}">{{ title|trans }}</a></li>
    </ol>
    
    <h1>{{ title|trans }}</h1>
    <hr class="red">
    <div class="row">
	{{ form_start(form) }}
	    <div class="form-group">
		{{ form_label(form.tag) }}
		<div class="row">
		    <div class="col-md-6">
			<small>{{ form_help(form.tag) }}</small>
			{{ form_widget(form.tag) }}
			<span class="text-danger">
			    {{ form_errors(form.tag) }}
			    {% for label, messages in app.flashes %}
				{% for message in messages %}
				    <div class="alert alert-{{ label }}">
					{{ message|trans }}
				    </div>
				{% endfor %}
			    {% endfor %}
			</span>
		    </div>
		</div>
	    </div>

	    <div class="d-grid gap-2 d-md-block">
		<button type="submit" value="Search" class="btn btn-primary">{% trans %}Search{% endtrans %}</button>
		<button type="reset" value="Reset" class="btn btn-secondary">{% trans %}Reset{% endtrans %}</button>
	    </div>
	{{ form_end(form) }}
    </div>
{% endblock %}
