{% extends 'base.html.twig' %}

{% block title %}{% trans %}Appointment index{% endtrans %}{% endblock %}

{% block body %}
    <ol class="breadcrumb">
	<li class="breadcrumb-item"><a href="https://www.gob.mx"><i class="icon icon-home"></i></a></li>
	<li class="breadcrumb-item"><a href="{{ path('app_index') }}">{% trans %}Begin{% endtrans %}</a></li>
	<li class="breadcrumb-item active" aria-current="page"><a href="{{ path('app_appointment_index') }}">{% trans %}Appointment{% endtrans %}</a></li>
    </ol>

    <h1>{% trans %}Appointment index{% endtrans %}</h1>
    <hr class="red">

    <div class="row">
	<div class="col count d-flex justify-content-start">
	    Registros totales: {{ appointments.getTotalItemCount }}
	</div>

	<div class="col d-flex justify-content-end">
	    <form method="get" action="{{ path('app_appointment_index') }}">
		<div class="input-group mb-3">
		    <input type="text" name="filter" class="form-control w-75" style="height: 32px" placeholder="{% trans %}Search by Name, Agenda or Date{% endtrans %}" value="{{ app.request.query.get('filter') }}">
		    <button class="btn btn-sm btn-outline-success" type="submit">{% trans %}Search{% endtrans %}</button>
		</div>
	    </form>
	</div>
    </div>

    <div class="table-responsive">
	<table class="table table-hover">
            <thead>
		<tr>
		    {% if is_granted('ROLE_SUPER_ADMIN') %}
			<th scope="col">{{ knp_pagination_sortable(appointments, 'Id'|trans, 'a.id') }}</th>
		    {% endif %}
		    <th scope="col">{{ knp_pagination_sortable(appointments, 'Patient'|trans, 'p.name') }}</th>
                    <th scope="col">{{ knp_pagination_sortable(appointments, 'Agenda'|trans, 'a.agenda') }}</th>
                    <th>{% trans %}Specialty{% endtrans %}</th>
                    <th>{% trans %}Location{% endtrans %}</th>
                    <th scope="col">{{ knp_pagination_sortable(appointments, 'Date at'|trans, 'a.dateAt') }}</th>
                    <th>{% trans %}Type{% endtrans %}</th>
                    <th>{% trans %}Status{% endtrans %}</th>
                    <th>{% trans %}actions{% endtrans %}</th>
		</tr>
            </thead>
            <tbody>
		{% for appointment in appointments %}
		    <tr>
			{% if is_granted('ROLE_SUPER_ADMIN') %}
			    <td>{{ appointment.id }}</td>
			{% endif %}
			<td>{{ appointment.patient.name|title }}</td>
			<td>{{ appointment.agenda }}</td>
			<td>{{ appointment.specialty }}</td>
			<td>{{ appointment.location }}</td>
			<td>{{ appointment.dateAt ? appointment.dateAt|date('Y-m-d H:i:s') : '' }}</td>
			<td>{{ appointment.type }}</td>
			<td>{{ appointment.status }}</td>
			<td>
			    <a class="btn btn-link" href="{{ path('app_appointment_show', {'id': appointment.id}) }}">{% trans %}Show{% endtrans %}</a>
			    {% if is_granted('ROLE_SUPER_ADMIN') %}
				<a class="btn btn-secondary" href="{{ path('app_appointment_edit', {'id': appointment.id}) }}">{% trans %}Edit{% endtrans %}</a>
			    {% endif %}
			</td>
		    </tr>
{% else %}
		    <tr>
			<td colspan="9">{% trans %}no records found{% endtrans %}</td>
		    </tr>
		{% endfor %}
            </tbody>
	</table>
    </div>

    <div class="navigation">
        {{ knp_pagination_render(appointments) }}
    </div>
    
    {% if is_granted('ROLE_SUPER_ADMIN') %}
	<a  class="btn btn-primary" href="{{ path('app_appointment_new') }}">{% trans %}Create new{% endtrans %}</a>
    {% endif %}
{% endblock %}
