{% extends 'base.html.twig' %}

{% block title %}{% trans %}Appointment index{% endtrans %}{% endblock %}

{% block body %}
    <ol class="breadcrumb">
	<li class="breadcrumb-item"><a href="www.gob.mx"><i class="icon icon-home"></i></a></li>
	<li class="breadcrumb-item"><a href="{{ path('app_index') }}">{% trans %}Begin{% endtrans %}</a></li>
	<li class="breadcrumb-item active" aria-current="page"><a href="{{ path('app_appointment_index') }}">{% trans %}Appointment{% endtrans %}</a></li>
    </ol>

    <h1>{% trans %}Appointment index{% endtrans %}</h1>
    <hr class="red">

    <div class="table-responsible">
	<table class="table table-hover">
            <thead>
		<tr>
                    <th>{% trans %}Id{% endtrans %}</th>
		    <th>{% trans %}Patient{% endtrans %}</th>
                    <th>{% trans %}Place{% endtrans %}</th>
                    <th>{% trans %}Date at{% endtrans %}</th>
                    <th>{% trans %}Type{% endtrans %}</th>
                    <th>{% trans %}actions{% endtrans %}</th>
		</tr>
            </thead>
            <tbody>
		{% for appointment in appointments %}
		    <tr>
			<td>{{ appointment.id }}</td>
			<td>{{ appointment.patient.name }}</td>
			<td>{{ appointment.place }}</td>
			<td>{{ appointment.dateAt ? appointment.dateAt|date('Y-m-d H:i:s') : '' }}</td>
			<td>{{ appointment.type }}</td>
			<td>
			    <a class="btn btn-link" href="{{ path('app_appointment_show', {'id': appointment.id}) }}">{% trans %}Show{% endtrans %}</a>
			    {% if is_granted('ROLE_ADMIN') %}
				<a class="btn btn-secondary" href="{{ path('app_appointment_edit', {'id': appointment.id}) }}">{% trans %}Edit{% endtrans %}</a>
			    {% endif %}
			</td>
		    </tr>
{% else %}
		    <tr>
			<td colspan="5">{% trans %}no records found{% endtrans %}</td>
		    </tr>
		{% endfor %}
            </tbody>
	</table>
    </div>

    {% if appointments.haveToPaginate == true %}
	<div class="navigation">
            {{ pagerfanta(appointments, { prev_message: '<', next_message: '>'}) }}
	</div>
    {% endif %}
    
    {% if is_granted('ROLE_ADMIN') %}
	<a  class="btn btn-primary" href="{{ path('app_appointment_new') }}">{% trans %}Create new{% endtrans %}</a>
    {% endif %}
{% endblock %}
