{% extends 'base.html.twig' %}

{% block title %}Date{% endblock %}

{% block body %}
    <h1>Date</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ date.id }}</td>
            </tr>
            <tr>
                <th>Time</th>
                <td>{{ date.time ? date.time|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Place</th>
                <td>{{ date.place }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ date.type }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_date_index') }}">back to list</a>

    <a href="{{ path('app_date_edit', {'id': date.id}) }}">edit</a>

    {{ include('date/_delete_form.html.twig') }}
{% endblock %}
