{% extends 'base.html.twig' %}

{% block title %}{% trans %}About{% endtrans %}{% endblock %}

{% block stylesheets %}
    <style>
     .spoiler { 
	 color: white; 
	 background-color: white;
     }

     .spoiler:hover {
	 color: #404041;
     }
    </style>
{% endblock %}

{% block body %}
    <ol class="breadcrumb">
	<li class="breadcrumb-item"><a href="https://www.gob.mx"><i class="icon icon-home"></i></a></li>
	<li class="breadcrumb-item"><a href="{{ path('app_index') }}">{% trans %}Begin{% endtrans %}</a></li>
	<li class="breadcrumb-item active" aria-current="page"><a href="{{ path('app_about') }}">{% trans %}About{% endtrans %}</a></li>
    </ol>
    
    <h1>{% trans %}About{% endtrans %}</h1>
    <hr class="red">

    <h2>{% trans %}Version{% endtrans %}</h2>
    <hr class="red">

    <p><a class="link-dark link-underline-opacity-0" href="https://gitlab.com/genomorro/registro-io">Registro de I/O INER</a>
	{% trans %}Version{% endtrans %} {{ version }} {% trans %}for{% endtrans %} <a class="link-dark link-underline-opacity-0" href="https://www.gob.mx/salud/iner">INER</a> ({{ year }}).</p>

    <h2>{%  trans %}License{% endtrans %}</h2>
    <hr class="red">
    
    <p>
	{% trans %}license.paragraph.one{% endtrans %} <a class="link-dark link-underline-opacity-0" href="https://gitlab.com/genomorro/registro-io">Registro de I/O INER</a>
    </p>

    <p>
	Copyright
	<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-c-circle" viewBox="0 0 16 16">
	    <path d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.146 4.992c-1.212 0-1.927.92-1.927 2.502v1.06c0 1.571.703 2.462 1.927 2.462.979 0 1.641-.586 1.729-1.418h1.295v.093c-.1 1.448-1.354 2.467-3.03 2.467-2.091 0-3.269-1.336-3.269-3.603V7.482c0-2.261 1.201-3.638 3.27-3.638 1.681 0 2.935 1.054 3.029 2.572v.088H9.875c-.088-.879-.768-1.512-1.729-1.512"/>
	</svg>
	{{ year }}<span class="spoiler">, Edgar Uriel Domínguez Espinoza.</span>
    </p>

    <p>
	<a class="link-dark link-underline-opacity-0" href="https://gitlab.com/genomorro/registro-io">Registro de I/O INER</a> {% trans %}license.paragraph.three{% endtrans %}
    </p>

    <p>
	<a class="link-dark link-underline-opacity-0" href="https://gitlab.com/genomorro/registro-io">Registro de I/O INER</a> {% trans %}license.paragraph.four{% endtrans %}
    </p>

    <p>
	{% trans %}license.paragraph.five.one{% endtrans %} <a class="link-dark link-underline-opacity-0" href="https://gitlab.com/genomorro/registro-io">Registro de I/O INER</a>; {% trans %}license.paragraph.five.two{% endtrans %} <a class="link-dark link-underline-opacity-0" href="http://www.gnu.org/licenses/">http://www.gnu.org/licenses/</a> {% trans %}license.paragraph.five.three{% endtrans %} the Free Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301 USA
    </p>
    
    {% if is_granted('ROLE_SUPER_ADMIN') %}
	<h2>{% trans %}Symfony Information{% endtrans %}</h2>
	<hr class="red">

	<pre>{{ symfony_about }}</pre>
	
	{{ phpinfo|raw }}
    {% endif %}
    <p class="spoiler">{% trans %}Created by{% endtrans %} {{ creator }} ({{ year }}).</p>
{% endblock %}
