<nav class="navbar navbar-expand-md navbar-dark bg-light sub-navbar fixed-top">
    <div class="container">
	<button
	    type="button"
	    class="navbar-toggler"
	    data-bs-toggle="collapse"
	    data-bs-target="#subNavBarDropdown"
	    aria-controls="subNavBarDropdown"
	    aria-expanded="false"
	    aria-label="Toggle navigation"
	>
	    <span class="navbar-toggler-icon"></span>
	</button>

	<a class="navbar-brand sub-navbar" style="width: 0px;" href="#"></a>
	
	<div class="collapse navbar-collapse" id="subNavBarDropdown">
	    <ul class="navbar-nav position-absolute end-0">
		{# Begin: main options #}
		<li class="nav-item">
		    <a class="nav-link subnav-link" href="{{ path('app_index') }}">{% trans %}Begin{% endtrans %}</a>
		</li>
		<li class="nav-item">
		    <a class="nav-link subnav-link" href="{{ path('app_search_index') }}">{% trans %}Search{% endtrans %}</a>
		</li>
		{% if is_granted("ROLE_ADMIN") %}
		    <li class="nav-item">
			<a class="nav-link subnav-link" href="{{ path('app_patient_index') }}">{% trans %}Patients{% endtrans %}</a>
		    </li>
		    <li class="nav-item">
			<a class="nav-link subnav-link" href="{{ path('app_hospitalized_index') }}">{% trans %}Hospitalized{% endtrans %}</a>
		    </li>
		    <li class="nav-item">
			<a class="nav-link subnav-link" href="{{ path('app_appointment_index') }}">{% trans %}Appointments{% endtrans %}</a>
		    </li>
		    <li class="nav-item">
			<a class="nav-link subnav-link" href="{{ path('app_attendance_index') }}">{% trans %}Attendances{% endtrans %}</a>
		    </li>
		{% endif %}
		<li class="nav-item">
		    <a class="nav-link subnav-link" href="{{ path('app_visitor_index') }}">{% trans %}Visitors{% endtrans %}</a>
		</li>
		{% if is_granted('ROLE_ADMIN') %}
		    <li class="nav-item">
			<a class="nav-link subnav-link" href="{{ path('app_user_index') }}">{% trans %}Users{% endtrans %}</a>
		    </li>
		{% endif %}
		{# End: main options #}
		{# Begin: Language switcher #}
		{% for locale in app.enabled_locales %}
		    {% if locale != app.locale %}
			<li class="nav-item">
			    <a class="nav-link subnav-link" href="{{ path(app.current_route, app.current_route_parameters|merge({_locale: locale})) }}">
				<i class="bi bi-translate"></i><b class="text-uppercase">{{ locale }}</b>
			    </a>
			</li>
		    {% endif %}
		{% endfor %}
		{# End: Language switcher #}
		{# Begin: user submenu #}
		{% if app.user %}
		    <li class="nav-item">
			<a class="nav-link subnav-link" href="{{ path('app_user_show', {'id': app.user.id}) }}"><i class="icon-user"></i> ({{ app.user.username }})</a>
		    </li>
		    <li class="nav-item">
			<a class="nav-link subnav-link" href="{{ path('app_logout') }}"><i class="bi bi-box-arrow-left"></i></a>
		    </li>
		{% else %}
		    <li class="nav-item">
			<a class="nav-link subnav-link" href="{{ path('app_login') }}"><i class="bi bi-box-arrow-in-right"></i></a>
		    </li>
		{% endif %}
		{# End: user submenu #}
	    </ul>
	</div>
    </div>
</nav>
