<nav class="navbar navbar-expand-md navbar-dark bg-light fixed-top justify-content-center">
    <div class="container w-100">
	<button
	    type="button"
	    class="navbar-toggler"
	    data-bs-toggle="collapse"
	    data-bs-target="#subNavBarDropdown"
	    aria-controls="subNavBarDropdown"
	    aria-expanded="false"
	    aria-label="Toggle navigation"
	>
	    <span class="navbar-toggler-icon"></span>
	</button>

	<a class="navbar-brand d-flex w-auto me-auto" href="{{ path('app_index') }}">accesos</a>
	
	<div class="collapse navbar-collapse w-100" id="subNavBarDropdown">
	    <ul class="navbar-nav w-100 justify-content-center">
		{# Begin: main options #}
		{% if is_granted("ROLE_USER") %}
		    <li class="nav-item">
			<a class="nav-link" href="{{ path('app_search_index') }}">{% trans %}Search{% endtrans %}</a>
		    </li>
		{% endif %}
		{% if is_granted("ROLE_ADMIN") %}
		    <li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle"
			   href="#"
			   id="userDropdown"
			   role="button"
			   data-bs-toggle="dropdown"
			   aria-expanded="false">
			    {% trans %}Patients{% endtrans %}
			</a>
			<ul class="dropdown-menu" aria-labelledby="userDropdown">
			    <li>
				<a class="dropdown-item" href="{{ path('app_patient_index') }}">{% trans %}All Patients{% endtrans %}</a>
			    </li>
			    <li>
				<a class="dropdown-item" href="{{ path('app_hospitalized_index') }}">{% trans %}Hospitalized{% endtrans %}</a>
			    </li>
			</ul>
			<li class="nav-item">
			    <a class="nav-link" href="{{ path('app_appointment_index') }}">{% trans %}Appointments{% endtrans %}</a>
			</li>
			<li class="nav-item">
			    <a class="nav-link" href="{{ path('app_attendance_index') }}">{% trans %}Attendances{% endtrans %}</a>
			</li>
		{% endif %}
		{% if is_granted("ROLE_USER") %}
		    <li class="nav-item">
			<a class="nav-link" href="{{ path('app_visitor_index') }}">{% trans %}Visitors{% endtrans %}</a>
		    </li>
		{% endif %}
		{% if is_granted('ROLE_SUPER_ADMIN') %} {# Temporal rule #}
		    <li class="nav-item">
			<a class="nav-link" href="{{ path('app_stakeholder_index') }}">{% trans %}Stakeholders{% endtrans %}</a>
		    </li>
		    <li class="nav-item">
			<a class="nav-link" href="{{ path('app_report_index') }}">{% trans %}Reports{% endtrans %}</a>
		    </li>
		{% endif %}
	    </ul>
	    <hr>
	    <ul class="navbar-nav ms-auto w-100 justify-content-end">
		{# End: main options #}
		{# Begin: Language switcher #}
		{% for locale in app.enabled_locales %}
		    {% if locale != app.locale %}
			<li class="nav-item">
			    <a class="nav-link" href="{{ path(app.current_route, app.current_route_parameters|merge({_locale: locale})) }}">
				<i class="bi bi-translate"></i><b class="text-uppercase">{{ locale }}</b>
			    </a>
			</li>
		    {% endif %}
		{% endfor %}
		{# End: Language switcher #}
		{# Begin: Dropdown user #}
		<li class="nav-item dropdown">
		    <a class="nav-link dropdown-toggle"
		       href="#"
		       id="userDropdown"
		       role="button"
		       data-bs-toggle="dropdown"
		       aria-expanded="false">
			<i class="icon icon-user"></i>
		    </a>
		    <ul class="dropdown-menu" aria-labelledby="userDropdown">
			{% if app.user %}
			    <li><a class="dropdown-item" href="{{ path('app_user_show', {'id': app.user.id}) }}">{% trans %}Profile{% endtrans %}: ({{ app.user.username }})</a></li>
			    <li><hr class="dropdown-divider"></li>
			    <li><a class="dropdown-item" href="{{ path('app_logout') }}">{% trans %}Log out{% endtrans %}</a></li>
			{% else %}
			    <li><a class="dropdown-item" href="{{ path('app_login') }}">{% trans %}Sign in{% endtrans %}</a></li>
			{% endif %}
			{% if is_granted('ROLE_ADMIN') %}
			    <li><hr class="dropdown-divider"></li>
			    <li><a class="dropdown-item" href="{{ path('app_user_index') }}">{% trans %}User index{% endtrans %}</a></li>
			{% endif %}
		    </ul>
		</li>
		{# End: Dropdown user #}
	    </ul>
	</div>
    </div>
</nav>
{% block stylesheets %}
    <style>
     main nav.navbar, main a.navbar-brand {
	 background: #3a0b1e !important;
	 margin-right: 25rem !important;
	 margin-top: 42px !important;
	 margin-bottom: -1%;
     }
     .dropdown-menu {
	 width:100%;
     }
     .dropdown-item {
	 text-align: center;
     }
    </style>
{% endblock %}

