{% extends 'base.html.twig' %}

{% block title %}{% trans %}New Stakeholder{% endtrans %}{% endblock %}

{% block body %}
    <ol class="breadcrumb">
	<li class="breadcrumb-item"><a href="https://www.gob.mx"><i class="icon icon-home"></i></a></li>
	<li class="breadcrumb-item"><a href="{{ path('app_index') }}">{% trans %}Begin{% endtrans %}</a></li>
	<li class="breadcrumb-item"><a href="{{ path('app_stakeholder_index') }}">{% trans %}Stakeholder{% endtrans %}</a></li>
	<li class="breadcrumb-item active" aria-current="page">{% trans %}New{% endtrans %}</li>
    </ol>

    <h1>{% trans %}Create new Stakeholder{% endtrans %}</h1>
    <hr class="red">

    <div class="row" {{ stimulus_controller('webrtc') }} data-webrtc-logo-url="{{ asset('images/iner-logo.png') }}">
        <div class="col-md-6">
            {{ include('stakeholder/_form.html.twig', {'form': form, 'webrtc': true}) }}
        </div>
        <div class="col-md-6 d-flex align-items-center justify-content-center flex-column">
            <video data-webrtc-target="video" width="480" height="360" class="border" poster="{{ asset('images/iner-logo.png') }}" autoplay></video>
            <div class="my-2">
                <select data-webrtc-target="cameraSelect" data-action="change->webrtc#switchCamera" class="form-select form-select-sm d-none d-inline-block w-auto"></select>
                <button type="button" data-webrtc-target="flipButton" data-action="click->webrtc#flipCamera" class="btn btn-sm btn-secondary d-none">{% trans %}Flip Camera{% endtrans %}</button>
            </div>
            <canvas data-webrtc-target="canvas" class="d-none"></canvas>
        </div>
    </div>
{% endblock %}
