{% extends 'base.html.twig' %}

{% block title %}{% trans %}Stakeholder{% endtrans %}{% endblock %}

{% block body %}
    <ol class="breadcrumb">
	<li class="breadcrumb-item"><a href="https://www.gob.mx"><i class="icon icon-home"></i></a></li>
	<li class="breadcrumb-item"><a href="{{ path('app_index') }}">{% trans %}Begin{% endtrans %}</a></li>
	<li class="breadcrumb-item"><a href="{{ path('app_stakeholder_index') }}">{% trans %}Stakeholder{% endtrans %}</a></li>
	<li class="breadcrumb-item active" aria-current="page"><a href="{{ path('app_stakeholder_show', {'id': stakeholder.id}) }}">{% trans %}Show{% endtrans %}</a></li>
    </ol>

    <h1>{% trans %}Stakeholder{% endtrans %}</h1>
    <hr class="red">

    <div class="row">
	<div class="col-md">
	    <div class="table-responsible">
		<table class="table table-striped">
		    <tbody>
			{% if is_granted('ROLE_SUPER_ADMIN') %}
			    <tr>
				<th>{% trans %}Id{% endtrans %}</th>
				<td>{{ stakeholder.id }}</td>
			    </tr>
			{% endif %}
			<tr>
			    <th>{% trans %}Name{% endtrans %}</th>
			    <td>{{ stakeholder.name|title }}</td>
			</tr>
			<tr>
			    <th>{% trans %}DNI{% endtrans %}</th>
			    <td>{{ stakeholder.dni }}</td>
			</tr>
			<tr>
			    <th>{% trans %}Tag{% endtrans %}</th>
			    <td>{{ stakeholder.tag }}</td>
			</tr>
			<tr>
			    <th>{% trans %}Subject{% endtrans %}</th>
			    <td>{{ stakeholder.subject }}</td>
			</tr>
			<tr>
			    <th>{% trans %}Destination{% endtrans %}</th>
			    <td>{{ stakeholder.destination }}</td>
			</tr>
			<tr>
			    <th>{% trans %}Check in{% endtrans %}</th>
			    <td>{{ stakeholder.checkInAt ? stakeholder.checkInAt|date('Y-m-d H:i:s') : '' }}</td>
			</tr>
			<tr>
			    <th>{% trans %}Check out{% endtrans %}</th>
			    <td>{{ stakeholder.checkOutAt ? stakeholder.checkOutAt|date('Y-m-d H:i:s') : '' }}</td>
			</tr>
		    </tbody>
		</table>
	    </div>
	</div>
    </div>

    <div class="d-grid gap-2 d-md-block">
	{% if is_granted('ROLE_SUPER_ADMIN') %}
	    <a class="btn btn-primary" href="{{ path('app_stakeholder_edit', {'id': stakeholder.id}) }}">{% trans %}Edit{% endtrans %}</a>
	{% endif %}
	<a class="btn btn-link" href="{{ path('app_stakeholder_index') }}">{% trans %}Back to list{% endtrans %}</a>
    </div>

    {% if is_granted('ROLE_SUPER_ADMIN') %}
	<div class="row">
	    <div class="col-md-10"></div>
	    <div class="col-md-1">
		{{ include('stakeholder/_delete_form.html.twig') }}
	    </div>
	</div>
    {% endif %}
{% endblock %}
