{% extends 'base.html.twig' %}

{% block title %}{% trans %}Attendance{% endtrans %}{% endblock %}

{% block body %}
    <ol class="breadcrumb">
	<li class="breadcrumb-item"><a href="https://www.gob.mx"><i class="icon icon-home"></i></a></li>
	<li class="breadcrumb-item"><a href="{{ path('app_index') }}">{% trans %}Begin{% endtrans %}</a></li>
	<li class="breadcrumb-item"><a href="{{ path('app_attendance_index') }}">{% trans %}Attendance{% endtrans %}</a></li>
	<li class="breadcrumb-item active" aria-current="page"><a href="{{ path('app_attendance_show', {'id': attendance.id}) }}">{% trans %}Show{% endtrans %}</a></li>
    </ol>

    <h1>{% trans %}Attendance{% endtrans %}</h1>
    <hr class="red">

    <div class="row">
	<div class="col-md">
	    <div class="table-responsive">
		<table class="table table-striped">
		    <tbody>
			{% if is_granted('ROLE_SUPER_ADMIN') %}
			    <tr>
				<th>{% trans %}Id{% endtrans %}</th>
				<td>{{ attendance.id }}</td>
			    </tr>
			{% endif %}
			<tr>
			    <th>{% trans %}Tag{% endtrans %}</th>
			    <td>{{ attendance.tag }}</td>
			</tr>
			<tr>
			    <th>{% trans %}Check in{% endtrans %}</th>
			    <td>{{ attendance.checkInAt ? attendance.checkInAt|date('Y-m-d H:i:s') : '' }}</td>
			</tr>
			{% if is_granted('ROLE_ADMIN') %}
			    <tr>
				<th class="text-wrap">{% trans %}User who checked in{% endtrans %}</th>
				<td>{{ attendance.checkInUser.username }}</td>
			    </tr>
			{% endif %}
			<tr>
			    <th>{% trans %}Check out{% endtrans %}</th>
			    <td>
				{{ attendance.checkOutAt ? attendance.checkOutAt|date('Y-m-d H:i:s') : '' }}
				{% if attendance.checkoutAt is null %}
				    <form method="post" action="{{ path('app_attendance_check_out', {'id': attendance.id, 'redirectRoute': 'app_attendance_show'}) }}" onsubmit="return confirm('{% trans %}Are you sure you want to check out?{% endtrans %}');">
					<input type="hidden" name="_token" value="{{ csrf_token('checkout' ~ attendance.id) }}">
					<button class="btn btn-primary">{% trans %}Check out{% endtrans %}</button>
				    </form>
				{% endif %}
			    </td>
			</tr>
			{% if is_granted('ROLE_ADMIN') and attendance.checkOutAt is not null %}
			    <tr>
				<th class="text-wrap">{% trans %}User who checked out{% endtrans %}</th>
				<td>{{ attendance.checkOutUser.username }}</td>
			    </tr>
			{% endif %}
			<tr>
			    <th class="text-wrap">{% trans %}Patient name{% endtrans %}</th>
			    <td>{{ attendance.patient.name|title }}</td>
			</tr>
			<tr>
			    <th>{% trans %}Patient file{% endtrans %}</th>
			    <td>{{ attendance.patient.file }}</td>
			</tr>
		    </tbody>
		</table>
	    </div>
	</div>

	{% if attendance.evidence %}
	    <div class="col-md-4 d-flex align-items-center justify-content-center">
		<img class="border img-fluid w-100" src="{{ attendance.evidence }}" alt="{{ attendance.checkInAt|date('Y-m-d H:i:s') }}">
	    </div>
	{% endif %}
    </div>


    <div class="d-grid gap-2 d-md-block">
	{% if is_granted('ROLE_SUPER_ADMIN') %}
	    <a class="btn btn-primary" href="{{ path('app_attendance_edit', {'id': attendance.id}) }}">{% trans %}Edit{% endtrans %}</a>
	{% endif %}
	<a class="btn btn-link" href="{{ path('app_attendance_index') }}">{% trans %}Back to list{% endtrans %}</a>
    </div>

    {% if is_granted('ROLE_SUPER_ADMIN') %}
	<div class="row">
	    <div class="col-md-10"></div>
	    <div class="col-md-1">
		{{ include('attendance/_delete_form.html.twig') }}
	    </div>
	</div>
    {% endif %}
{% endblock %}
