{% extends 'base.html.twig' %}

{% block title %}{% trans %}User index{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}User index{% endtrans %}</h1>

    <div class="table-responsible">
	<table class="table table-hover">
            <thead>
		<tr>
                    <th>{% trans %}Id{% endtrans %}</th>
                    <th>{% trans %}Name{% endtrans %}</th>
                    <th>{% trans %}Username{% endtrans %}</th>
                    <th>{% trans %}Roles{% endtrans %}</th>
                    <th>{% trans %}actions{% endtrans %}</th>
		</tr>
            </thead>
            <tbody>
		{% for user in users %}
		    <tr>
			<td>{{ user.id }}</td>
			<td>{{ user.name }}</td>
			<td>{{ user.username }}</td>
			<td>{{ user.roles ? user.roles|json_encode : '' }}</td>
			<td>
			    <a class="btn btn-link" href="{{ path('app_user_show', {'id': user.id}) }}">{% trans %}Show{% endtrans %}</a>

			    {% if not is_granted('ROLE_SUPER_ADMIN') and ('ROLE_SUPER_ADMIN' in user.roles) %}
				<p></p>
			    {% else %}
				<a class="btn btn-secondary" href="{{ path('app_user_edit', {'id': user.id}) }}">{% trans %}Edit{% endtrans %}</a>
			    {% endif %}
			</td>
		    </tr>
{% else %}
		    <tr>
			<td colspan="6">{% trans %}no records found{% endtrans %}</td>
		    </tr>
		{% endfor %}
            </tbody>
	</table>
    </div>

    {% if is_granted('ROLE_ADMIN') %}
	<a class="btn btn-primary" href="{{ path('app_register') }}">{% trans %}Create new{% endtrans %}</a>
    {% endif %}
{% endblock %}
