{% extends 'base.html.twig' %}

{% block title %}{% trans %}User{% endtrans %}{% endblock %}

{% block body %}
    <ol class="breadcrumb">
	<li class="breadcrumb-item"><a href="www.gob.mx"><i class="icon icon-home"></i></a></li>
	<li class="breadcrumb-item"><a href="{{ path('app_index') }}">{% trans %}Begin{% endtrans %}</a></li>
	<li class="breadcrumb-item"><a href="{{ path('app_user_index') }}">{% trans %}User{% endtrans %}</a></li>
	<li class="breadcrumb-item active" aria-current="page"><a href="{{ path('app_user_show', {'id': user.id}) }}">{% trans %}Show{% endtrans %}</a></li>
    </ol>

    <h1>{% trans %}User{% endtrans %}</h1>
    <hr class="red">

    <div class="table-responsible">
	<table class="table table-striped">
            <tbody>
		<tr>
                    <th>{% trans %}Id{% endtrans %}</th>
                    <td>{{ user.id }}</td>
		</tr>
		<tr>
                    <th>{% trans %}Name{% endtrans %}</th>
                    <td>{{ user.name }}</td>
		</tr>
		<tr>
                    <th>{% trans %}Username{% endtrans %}</th>
                    <td>{{ user.username }}</td>
		</tr>
		<tr>
                    <th>{% trans %}Roles{% endtrans %}</th>
                    <td>
			{% if 'ROLE_SUPER_ADMIN' in user.roles %}
			    {% trans %}Super Admin{% endtrans %}
			{% elseif 'ROLE_ADMIN' in user.roles %}
			    {% trans %}Admin{% endtrans %}
			{% else %}
			    {% trans %}User{% endtrans %}
			{% endif %}
		    </td>
		</tr>
            </tbody>
	</table>
    </div>

    <div class="d-grid gap-2 d-md-block">
	{% if not is_granted('ROLE_SUPER_ADMIN') and ('ROLE_SUPER_ADMIN' in user.roles) %}
	    <p></p>
	{% else %}
	    <a class="btn btn-secondary" href="{{ path('app_user_edit', {'id': user.id}) }}">{% trans %}Edit{% endtrans %}</a>
	{% endif %}
	{% if is_granted('ROLE_ADMIN') %}
	    <a class="btn btn-link" href="{{ path('app_user_index') }}">{% trans %}Back to list{% endtrans %}</a>
	{% endif %}
    </div>

    {% if is_granted('ROLE_SUPER_ADMIN') %}
	<div class="row">
	    <div class="col-md-10"></div>
	    <div class="col-md-1">
		{{ include('user/_delete_form.html.twig') }}
	    </div>
	</div>
    {% endif %}
{% endblock %}
